In [1]:
import pandas as pd

1. What is the northernmost airport in the United States?
2. What is the easternmost airport in the United States?
3. On February 12th, 2013, which New York area airport had the windiest weather?

In [9]:
airports = pd.read_csv('airports.csv')
weather = pd.read_csv('weather.csv')

In [10]:
airports

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35,-5,A,America/New_York

In [12]:
weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30T19:00:00Z
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30T20:00:00Z
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30T21:00:00Z
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30T22:00:00Z
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30T23:00:00Z

#What is the northernmost airport in the United States? EEN

To answer questions What is the northernmost airport in the United States? 
I think we can sort from ascending to descending latitude to get the northernmost airport.

In [15]:
airports.sort_values(by='lat', ascending=False)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
...,...,...,...,...,...,...,...,...
930,MUE,Waimea Kohala,20.001328,-155.668108,2671,-10,A,Pacific/Honolulu
1403,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10,N,Pacific/Honolulu
231,BSF,Bradshaw Aaf,19.760056,-155.553717,6190,-10,A,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10,N,Pacific/Honolulu
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10,N,Pacific/Honolulu

A quick google search confirms that Dillant Hopkins Airport is located in New Hampshire. Since he came up as the highest latitude, then it proves that it's the most northern airport on our list.

#What is the easternmost airport in the United States? EPM

2. What is the easternmost airport in the United States?
Longitude 0 is in England so in order to answer our question we will actually be looking for a western longitude. The eastern most part of the US is West Quoddy Head, Maine at -66.95, so we will be looking for the closest value to -66.

In [22]:
airports[(airports.lon < -65)].sort_values(by='lon', ascending=False)

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5,A,America/New_York
259,CAR,Caribou Muni,46.871500,-68.017917,626,-5,A,America/New_York
1101,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-5,A,America/New_York
1398,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1251,SNP,St Paul Island,57.167333,-170.220444,63,-9,A,America/Anchorage
1281,SVA,Savoonga Airport,63.686400,-170.493000,53,-9,A,America/Anchorage
522,GAM,Gambell Airport,63.766800,-171.733000,27,-9,A,America/Anchorage
112,AKB,Atka Airport,52.220278,-174.206389,56,-9,A,America/Anchorage
95,ADK,Adak Airport,51.878000,-176.646000,18,-9,A,America/Anchorage

I sorted the airports by those with a longitude that is less than -65. -65 is east of -66, so eliminating everything east of -65 would leave no room for any surprise values in -66 that might fall outside of our range. The easternmost airport is Eastport Municipal Airport.

#On February 12th, 2013, which New York area airport had the windiest weather? EWR

3. On February 12th, 2013, which New York area airport had the windiest weather?
To find this answer we have to pull out all data on February 12, 2013 for New York airports. Then we can sort by highest wind speed.

In [28]:
feb12 = weather[(weather.year == 2013) & (weather.month == 2) & (weather.day == 12)]

In [30]:
feb12.sort_values(by='wind_speed', ascending=False)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,EWR,2013,2,12,0,39.92,39.02,96.55,240.0,6.90468,NaN,0.0,1006.9,10.0,2013-02-12T05:00:00Z
1027,EWR,2013,2,12,21,35.96,24.08,61.67,300.0,5.75390,NaN,0.0,1013.0,10.0,2013-02-13T02:00:00Z
18415,LGA,2013,2,12,0,42.08,37.40,86.89,NaN,4.60312,NaN,0.0,NaN,10.0,2013-02-12T05:00:00Z
9709,JFK,2013,2,12,0,42.08,37.04,82.17,280.0,4.60312,NaN,0.0,1007.1,10.0,2013-02-12T05:00:00Z
1029,EWR,2013,2,12,23,35.96,23.00,58.94,250.0,4.60312,NaN,0.0,1013.7,10.0,2013-02-13T04:00:00Z

After pulling only 2/12/2013 weather data and then sorting it by wind speed, we can see that EWR has the highest wind speed on that day.